<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>О нас</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body>
	<%- include('blocks/header.ejs') -%>
	<div class="pageDiv" id='aboutUs'>
		<div class="aboutTxt">Муниципальное общеобразовательное бюджетное учреждение средняя общеобразовательная школа №1 с. Архангельское муниципального района Архангельский район Республики Башкортостан<br>
<i>Директор школы -  <b>Курунова Любовь Михайловна.</b></i>
<br>
ОУ осуществляет образовательный процесс в соответствии с уровнем основных общеобразовательных программ:
<ul>
	<li>Дошкольное образование (нормативный срок освоения - 4 года);</li>
	<li>Начальное общее образование (нормативный срок освоения - 4 года);</li>
	<li>Оосновное общее образование (нормативный срок освоения - 5 лет);</li>
	<li>Среднее общее образование (нормативный срок освоения - 2 года);</li>
</ul>
<a>В настоящее время в школе <b>обучается более 600 человек</b></a>

<a>Обучение ведется на русском языке. </a>
<a>На ступени начального общего образования, основного общего образования и среднего общего образования обучение ведется в соответствии с ФГОС 2 поколения.</a>
<a>В МОБУ СОШ №1 с. Архангельское работают:</a>
<ul>
	<li>3 руководящих работника;</li>
	<li>37 педагогов;</li>
	<li>Cоциальный педагог;</li>
	<li>Психолог;</li>
	<li>Методист по ИКТ;</li>
	<li>Преподаватель-организатор ОБЖ;</li>
	<li>Вожатый;</li>
	<li>Фельдшер;</li>
	<li>7 технических и учебно-вспомогательных  работников.</li>
</ul>
<a>Среди наших учителей:</a>
<ul>
	<li>12 отличников образования РБ;</li>
	<li>2 заслуженных учителя Республики Башкортостан";</li>
	<li>7 победителей конкурсов педагогического мастерства; </li>
	<li>2 победителя конкурса "Лучшие учителя России";</li>
	<li>100% педагогов имеют высшее образование;</li>
	<li>21 педагог имеют  высшую квалификационную категорию;</li>
	<li>24 педагога имеют первую квалификационную категорию.</li>
</ul>
<a>Учебные помещения располагаются в двух корпусах: 3-х этажном и 2-х этажном. В распоряжении обучающихся имеются 31 учебный кабинет, 2 спортивных зала, тренажерный зал, актовый зал, библиотека. Школа располагает столовой на 120 посадочных мест, медицинским пунктом, летней спортивной площадкой, пришкольным сельскохозяйственным участком.</a></div>



<script src='/js/ourScript.js'></script>

</div>
</body>
</html>