<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>Контакты</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body>
	<%- include('blocks/header.ejs') -%>
<div class="pageDiv">
	<div class='txtTitle'>Контакты</div><div class='aboutTxt'>
			<a><b>Полное наименование:</b></a>
	 Муниципальное общеобразовательное бюджетное учреждение средняя общеобразовательная школа №1 с.Архангельское муниципального района Архангельский район Республики Башкортостан
	<b><a>Краткое наименование:</a></b>
	 МОБУ СОШ №1 с.Архангельское
	<b><a>Юридический адрес:</a></b>
	 453030, Республика Башкортостан, Архангельский район, с.Архангельское, ул.Советская, д.53
	<a><b>Директор</b></a>
	Рыжикова Татьяна Зиновьевна,<br>
	8(34774)2-17-70,<br>
	arhsch1@mail.ru
	<a><b>Руководитель Центра "Точка роста"</b></a> Бочкарева Алевтина Викторовна, заместитель директора по НМР<br>
	8(34774) 2-12-63,<br>
	e-mail: alevt/66@mail.ru</div>




	</div>
	<script src='/js/ourScript.js'></script>
</body>
</html>