<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>История школы</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body>
	<%- include('blocks/header.ejs') -%>
<div class="pageDiv">
	<div class="txtTitle">История школы</div>
			<br>
	<div class="lifeTxt">
<a>
        История нашей школы относится ко времени образования села, а этой датой считается <b>1753 год.</b> Первое поселение на месте с. Архангельское появилось в 1753 году, когда купцы <i>И.Б.Твердышев и И.С.Мясников</i> по разрешению Берг-коллегии купили землю у местного населения-башкир, площадью 356кв/верст (купчая от 11 октября 1755 года). Завод был построен в 1753 году, а в 1762 году на заводе было 130 дворов покупных крестьян и деревянная церковь. Первоначальное название завода - Скимский – было изменено по названию церковного прихода: <b>церковь Архангела Михаила</b>, село Архангельское. Так как в селе была церковь то надо полагать, что при ней существовала церковно-приходская школа, где велось обучение деревенских ребятишек, так  как на заводе требовались грамотные люди. Каких - либо документов о существовании школы в те времена нет, но остались воспоминания старожилов села. Например, Пименов Николай Карпович (1884 года рождения). Он сообщил, что его отец, Пименов Карп Иванович, проживший 104 года, помнит, как они, будучи ребятишками в 10-11 лет посещали церковную сторожку, где их местный священник учил первоначальной грамоте: чтению, письму, счёту. Карп Иванович умер в 1956 году в возрасте 104 лет. Следовательно: события, о которых он говорил, относятся к 1860 году. В книге «Очерки по истории Башкирской АССР» т.1, ч.2, стр. 242 говориться о том, что в крае функционировали горнозаводские школы – казённые и частные. Казённая школа была открыта и на Архангельском заводе. А в 1847 году во всех школах обучалось 1123 ученика и работало около 50 учителей. Следовательно есть основания полагать, что школа в с. Архангельское появилась в 1840 году.</a>
<a>
А  в одном из документов (1855 г.) упоминается имя учителя -Тараканов (без инициалов).  
</a><a>
В 1864 году было утверждено «Положение о земских учреждениях», по которому в 34 губерниях России вводилось местное самоуправление – земство, оно могло открывать школы и содержать их.
</a><a>
В 1886 году в с.Архангельское приезжает по направлению учитель со средним педагогическим образованием – Буянов Игнатий Трофимович (1863-1936 г.). Он положил начало образованию детей по определённой программе и установленным учебникам. В с. Архангельское открывается (1884г.) земское мужское училище. С тремя отделениями: начальным, средним и старшим (вместо церковно-приходской школы). Училище входило в состав Стерлитамакского уезда. В год исторического поворота (1917 г.)  в с. Архангельское было создано высшее начальное училище двух отделений. Им руководила Селютина Евдокия Ивановна, в 1919 году оно переименовано в школу II степени.
</a><a>
В 1922 году была создана единая трудовая советская школа (семилетка), ею руководил Иванов Василий Ефимович. В 1922 году на базе семилетней школы создаётся средняя общеобразовательная политехническая школа. Её директором стал Цымбалюк Ефим Митрофанович.
</a></div>
<br>
<div class="flexHistory">
	<div class="a1">
		<img class='historyImg' src="/imgs/history1.jpg" alt="*Фото первого выпуска">
		<p>
			Первый выпуск
			<br>
			В 8 классе в 1934 году обучалось 22 человека
		</p>
	</div>
	<div class="a2">
		<img class='historyImg' src="/imgs/history2.jpg" alt="*Фото школы">
		<p>Здание старой школы.</p>
	</div>
</div>

<div class="lifeTxt">

<a>
<i>В 1964 году Архангельская средняя школа получила новое трёх этажное здание</i> с центральным отоплением. В 1980 году вошёл в строй пристрой к школе,  и к Архангельской средней школе была присоединена Архангельская восьмилетняя школа.
</a><a>
За этот период школа обучила более 20 тысяч учащихся - в дальнейшем 172 врача, 602 учителя, 324 работников сельского хозяйства с высшим образованием, 14 кандидатов различных наук.
</a><a>
<b>Среди выпускников школы четыре Героя Советского Союза: маршал авиации Иван Иванович Пстыго, генерал-майор Иван Александрович Киселёв, полковники Саевич Тимофей Александрович и Иван Алексеевич Антипин.</b>
</a><a>
Самое большое количество почётных званий имеет выпускник нашей школы <b>Булавкин Вячеслав Васильевич</b> (11.07.1940-9.10.2007 г.) - профессор, доктор технических наук, академик РАЕН, вице-президент Российской академии космонавтики, член Бюро президиума Федерации космонавтики РФ, заслуженный машиностроитель РФ. Дважды лауреат премии Правительства РФ в области науки и техники. 
</a><a>
Два учителя нашей школы награждены Орденами Ленина. Это Черпаченко Мария Александровна и Ягодин Андрей Иванович. Биография Марии Александровны, подобно зеркалу, отражает далекие дни становления нашей  страны и республики. Свою трудовую деятельность она начала в 1917 году. За сорок один год работы в школе она преподавала биологию, работала инспектором РОНО, возглавляла педагогический коллектив школы в военные годы. Мария Александровна достойно выдержала этот повседневный жизненный экзамен, проявляя, по отзывам современников, скромность, отзывчивость, высокую партийную принципиальность. Её заслуги и трудовой подвиг не остались незамеченными. Она награждена орденами Ленина, «Знак Почета», медалью «За доблестный труд в Великой Отечественной войне 1941-1945 г.». В возрасте 81 года ей был вручен знак «50 лет пребывания в КПСС».
</a><a>
Через три года Марии Александровны  не стало, но она жива в памяти земляков, как живо в сердцах её учеников то «светлое», «доброе», «вечное», что она взращивала на протяжении многих лет.
</a><a>
Другим замечательным  учителем, награжденным орденом Ленина, был учитель русского языка и литературы Ягодин Андрей Иванович. Родился он в 1893 году. Кроме литературы Андрей Иванович  с любовью преподавал пение. Он прекрасно пел, отлично играл на скрипке, был руководителем хора, который несколько лет подряд становился лауреатом различных конкурсов. Свою любовь к литературе Андрей Иванович передал своей дочери и 56 выпускникам.
</a><a>
 В школе работали и работают 10 заслуженных учителей России и республики Башкортостан. Это Гребнева Клавдия Степановна, Янсон Елизавета Захаровна, Гребнева Таисия Ивановна, Моргунова Ольга Александровна, Канбекова Назиха Шамсиевна, Сапронов Николай Андреевич, Чернова Мария Павловна, Хамета Надежда Петровна, Девицкая Людмила Петровна, Габитов Мансур Гафурович.</a>
</div>

	</div>
</div>
<script src='/js/ourScript.js'></script>
</body>
</html>