<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>Питание</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body>
	<%- include('blocks/header.ejs') -%>
<div class="pageDiv">
	<div class='txtTitle'>Питание</div>
	<!-- <a href="https://arhschool1.ucoz.net/Stolovka/Menyu_1_smena_vesna.pdf" target='_blank'>Download link</a> -->
<div class='aboutTxt'>
<a>В настоящее время питание обучающихся МОБУ СОШ №1 организовано в соответствии с требованиями СанПиН и рекомендациями Роспотребнадзора.
</a><a>Питание осуществляется на основе  Примерного Меню:</a>
<div class='linksUl'>
<a href='https://arhschool1.ucoz.net/Stolovka/Menyu_1_smena_vesna.pdf'>
Основное двухнедельное меню школьных завтраков и обедов для обучающихся в первую смену  1 - 4 классов и 5 - 11 классов, в том числе для детей категории ммс, овз, ди на весенне-летний  период 2022-2023 учебного года(срок реализации с 01.03.2023 по 31.08.2023).
Основное двухнедельное меню школьных завтраков и обедов для обучающихся во вторую смену  1 - 4 классов и 5 - 11 классов, в том числе для детей категории ммс, овз, ди на весенне-летний  период 2022-2023 учебного года(срок реализации с 01.03.2023 по 31.08.2023).
</a><a href='https://arhschool1.ucoz.net/Stolovka/Menyu_2_smena_vesna.pdf'>
Основное двухнедельное меню школьных завтраков и обедов для обучающихся в первую смену  1 - 4 классов, в том числе для детей категории (сахарный диабет) на весенне-летний  период 2022-2023 учебного года(срок реализации с 01.03.2023 по 31.08.2023).
</a><a>
Основное двухнедельное меню школьных завтраков и обедов для обучающихся в первую смену  5 - 11 классов, в том числе для детей категории (сахарный диабет) на весенне-летний  период 2022-2023 учебного года(срок реализации с 01.03.2023 по 31.08.2023).</a></div>
<a>
Организацию горячего питания в МОБУ СОШ №1 с. Архангельское муниципального района Архангельский район Республики Башкортостан в соответствии с муниципальными контрактами осуществляет ООО «Центр питания» на основе договора.
</a>
<a>
Очередность питания классов с учетом эпидемиологической ситуации основывается на  Рекомендации по организации работы предприятий общественного питания в условиях сохранения рисков распространения covid-19.</a>
<ul>
<b>Общие сведения об операторе питания:</b>
<li>
ООО «Центр питания»
</li><li>
Юридический адрес: Россия, Республика Башкортостан, р.п. Чишмы, ул. Строительная, 2</li>

<li>Исполнительный директор: Абдрахманова Рита Идельбаевна
</li>
<li>Телефоны:  <br>+7(34797) 2-21-77
<br>
+79273076243<br>
+79273349665
</li><li>
Электронная почта: kp22177@mail.ru
</li><li>
Официальный сайт: http://centr-pit.ru 
</li><li>
Ответственный за организацию горячего питания в школе - Кожевникова Татьяна Николаевна, телефон +7(34774)2-17-70.</li>
</ul><br><div class='txtTitle'>
Стоимость питания.
</div>
<a>На основании постановления Главы Администрации муниципального района Архангельский район Республики Башкортостан № 35 от 01 февраля 2023 года:</a>

<ul><b>1. Для обучающихся с ограниченными возможностями здоровья и детям-инвалидам:</b>
<li>Для обучающихся с ограниченными возможностями здоровья и детям-инвалидам 1-4 классов на завтрак и обед в размере 136,98 рублей в день на одного обучающегося (в том числе из бюджета Российской Федерации в сумме 53,59 рубля, из бюджета Республики Башкортостан в сумме 67,63 рублей, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 15,76 рублей);</li>
<li>Для обучающихся с ограниченными возможностями здоровья и детям-инвалидам 5-11 классов на завтрак и обед в размере 157,65 рублей в день на одного обучающегося (в том числе из бюджета Республики Башкортостан в сумме 141,89 рубль, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 15,76 рублей);</li>
<li>Для обучающихся с ограниченными возможностями здоровья и детям-инвалидам 1-4 классов на дому в размере 136,98 рублей в день на одного обучающегося (в том числе из бюджета Республики Башкортостан в сумме 123,28 рубля, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 13,70 рублей);</li>
<li>Для обучающихся с ограниченными возможностями здоровья и детям-инвалидам 5-11 классов на дому в размере 157,65 рублей в день на одного обучающегося (в том числе из бюджета Республики Башкортостан в сумме 141,89 рубль, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 15,77 рублей).</li></ul>
<ul><b>2. Для обучающихся из многодетных малообеспеченных семей, кроме обучающихся с ограниченными возможностями здоровья и детей-инвалидов:</b>
<li>Для обучающихся по образовательным программам начального общего образования 1-4 классов на завтрак в I смену в размере 64,44 рубля в день на одного обучающегося (в том числе из бюджета Российской Федерации в сумме 53,59 рубля, из бюджета Республики Башкортостан в сумме 10,21 рублей, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 0,64 рубля);</li>
<li>Для обучающихся по образовательным программам начального общего образования 1-4 классов на обед во II смену в размере 72,54 рубля в день на одного обучающегося (в том числе из бюджета Российской Федерации в сумме 53,59 рубля, из бюджета Республики Башкортостан в сумме 18,23 рублей, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 0,72 рубля);</li>
<li>Для обучающихся по образовательным программам основного и среднего общего образования 5-11 классов на завтрак в I смену в размере 73,20 рубля в день на одного обучающегося (в том числе из бюджета Республики Башкортостан в сумме 73,20 рубля);</li>
 <li>Для обучающихся по образовательным программам основного и среднего общего образования 5-11 классов на обед во II смену в размере 84,45 рубля в день на одного обучающегося (в том числе из бюджета Республики Башкортостан в сумме 84,45 рубля);</li></ul>
<ul><b>3. Для обучающихся по образовательным программам начального общего образования 1 -4 классов, кроме обучающихся с ограниченными
возможностями здоровья и детей-инвалидов и из многодетных малообеспеченных семей:</b>
<li>Для обучающихся по образовательным программам начального общего образования 1-4 классов на завтрак в I смену в размере 64,44 рубля в день на одного обучающегося (в том числе из бюджета Российской Федерации в сумме 53,59 рубля, из бюджета Республики Башкортостан в сумме 10,21 рублей, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 0,64 рубля);</li>
<li>Для обучающихся по образовательным программам начального общего образования 1-4 классов на обед во II смену в размере 72,54 рубля в день на одного обучающегося (в том числе из бюджета Российской Федерации в сумме 53,59 рубля, из бюджета Республики Башкортостан в сумме 18,23 рублей, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 0,72 рубля).</li></ul>
<ul><b>4. Для детей участников специальной военной операции - учащихся 5-11 классов в общеобразовательных организациях:</b>
<li>Для обучающихся по образовательным программам основного и среднего общего образования 5-11 классов на завтрак в I смену в размере 73,20 рубля в день на одного обучающегося (в том числе из бюджета Республики Башкортостан в сумме 72,47 рубля, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 0,73 рубля);</li>
<li>Для обучающихся по образовательным программам основного и среднего общего образования 5-11 классов на обед во II смену в размере 84,45 рубля в день на одного обучающегося (в том числе из бюджета Республики Башкортостан в сумме 83,61 рубля, из бюджета муниципального района Архангельский район Республики Башкортостан в сумме 0,84 рубля).
</li></ul>
<ul>На основании постановления Главы Администрации муниципального района Архангельский район Республики Башкортостан № 403 от 01 ноября 2022 года "Об обеспечении детей участников специальной военной операции, проводимой на территориях Донецкой Народной Республики, Луганской Народной Республики, Херсонской и Запорожской областей, Украины, - учащихся 5-11 классов горячим бесплатным питанием в общеобразовательных организациях муниципального района Архангельский район Республики Башкортостан",  в соответствии с Порядком правительства Республики Башкортостан от 31 октября 2022 года № 683 "Обеспечения детей участников специальной военной операции, проводимой на территориях Донецкой Народной Республики, Луганской Народной Республики, Херсонской и Запорожской областей, Украины, - учащихся 5-11 классов горячим бесплатным питанием с 01 ноября 2022 года" из расчета:

<li>обучающихся I смены обучения горячим бесплатным завтраком стоимостью 67,89 рублей на одного обучающегося в день посещения общеобразовательной организации;</li>
<li>обучающихся II смены обучения горячим бесплатным обедом стоимостью 78,32 рублей на одного обучающегося в день посещения общеобразовательной организации.</li>
</ul>
<a>В филиале - детском саде "Улыбка" д. Приуралье дети получает горячее питание на  100 рублей\день.</a>

<a>Действует компенсация: на 1-го ребёнка 20%, 2-го 50%, 3-го 70%.
</a><button class='nutritionBut' href='https://arhschool1.ucoz.net/Stolovka/Graf_pit_3-22-23.pdf'>
График питания
</button>

<a>Со 2 сентября 2021 года все категории учащихся (в том числе учащиеся 1-4 классов, учащиеся из многодетных малообеспеченных семей, учащиеся с ограниченными возможностями здоровья и дети инвалиды)  получают полноценное горячее питание в соответствие с единым меню, утвержденным Министерством образования и науки Республики Башкортостан, Государственным комитетом Республики Башкортостан по торговле и защите прав потребителей и согласованным с Управлением Роспотребнадзора по Республике Башкортостан.</a>

<a>Организовано двухразовое горячее питание для  обучающихся с ограниченными возможностями здоровья.</a>
<a>
Установлено новое оборудование, которое позволяет механизировать и автоматизировать процесс обработки пищевых продуктов. За счет чего повысилась производительность труда, улучшилось качество пищи и соответственно уменьшилось количество пищевых отходов.
</a>
<a>Поставкой продуктов занимаются Районное Потребительское Общество и «ООО Центр питания».</a>

<a>Поставка пищевых продуктов и продовольственного сырья организована на основании составленных договоров. При поставке продуктов питания поставщики предоставляют все сопроводительные документы в том числе сертификаты и ветеринарные свидетельства.</a>

<a>В целях соблюдения санитарно-эпидемиологических требований по качеству, безопасности продуктов питания, в МОБУ СОШ №1 с. Архангельское изданы приказы о назначении ответственного лица за входной контроль продуктов, созданы бракеражные комиссии.</a>

<a style='text-align: center; font-size: 25px'><b >Уважаемый родитель!</b></a>

<a>В рамках мониторинга «Школьное питание. Родительский контроль» проводится независимое анонимное анкетирование родителей обучающихся общеобразовательных организаций по вопросам школьного питания. Просим Вас принять участие в анонимном анкетировании. Спасибо!(Заполненную <a class='anketa' href='https://arhschool1.ucoz.net/Stolovka/Anketa_pitanie.pdf'>АНКЕТУ</a> присылать по адресу arhsch1@mail.ru )</a>
</div>
</div>
	<script src='/js/ourScript.js'></script>
</body>
</html>