<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport", initial-scale="1.0">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<title>Родителям</title>
</head>
<body>
	<%- include('blocks/header.ejs') -%>
	<div class="pageDiv">
		<div class="txtTitle">
			Образование
		</div>
		<div class="parentsTxt"><a>
			Образование в ОУ осуществляется  в соответствии с Федеральным законом от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации», Федеральным законом от 12.01.1996 № 7-ФЗ «О некоммерческих организациях», другими федеральными законами и нормативными правовыми актами РФ, законами и иными правовыми актами Республики Башкортостан, нормативными актами органов местного самоуправления муниципального района Архангельский район Республики Башкортостан, Уставом школы.
</a><a>
Образовательные программы осваиваются в очной форме обучения.
</a><a>
Обучение в форме семейного образования и самообразования осуществляется с правом последующего прохождения промежуточной и государственной итоговой аттестации. Перевод обучающегося на получение образования в иной форме осуществляется в установленном порядке с согласия родителей(законных представителей)(п.3.8 Устава).
</a><a>
На данный момент в школе обучается 603 обучающихся. 21 человек обучается в Филиале МОБУ СОШ №1 с. Архангельское -детском саде "Улыбка" д. Приуралье. Обучение всех обучающихся по реализуемым образовательным программам производится за счет бюджетных ассигнований местного бюджета. Обучение ведется на русском языке. Форма обучения - очная. Иностранных граждан в нашей школе  не обучается.
</a>
<div class='txtTitle'>Реализуемые уровни образования и нормативные сроки обучения:</div>
		</div>
	<table>
		<tr>
			<th>№</th>
			<th>Уровень образования</th>
			<th>Образовательная программма</th>
			<th>Нормативный срок освоения</th>
			<th>Численность обучающихся</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Дошкольное образование</td>
			<td>Основная  образовательная программа дошкольного образования</td>
			<td>4 года</td>
			<td>21 человек</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Начальное  общее</td>
			<td>Основная  образовательная программа начального общего образования</td>
			<td>4 года</td>
			<td>251 человек</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Основное  общее</td>
			<td>Основная  образовательная программа основного общего образования</td>
			<td>5 лет</td>
			<td>306 человек</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Среднее  общее</td>
			<td>Основная  образовательная программа среднего общего образования</td>
			<td>2 года</td>
			<td>46 человек</td>
		</tr>
	</table>
	<div class="txtTitle">Обеспечение</div>
	<div class="parentsTxt"><a>МОБУ СОШ №1 с. Архангельское находится в центре с. Архангельское, на участке 17725 кв.м. и  располагает всеми условиями для обеспечения образовательной деятельности. Учебные помещения школы располагаются в двух корпусах специальной постройки: 3-х этажном и 2-х этажном с подведенным центральным паровым отоплением, общей площадью 4468 кв.м. В распоряжении обучающихся имеются 33 учебных кабинета,  актовый зал, библиотека. Из них - библиотека, актовый зал и 10 учебных кабинетов оборудованы компьютерами с доступом к системе "Интернет". Всего же в школе имеется 72 компьютера различных конфигураций для обеспечения учебного процесса, 5 интерактивных комплексов(интерактивная доска+ПК+проектор) и 5 комплектов ПК+проектор.</a>
<br>
<a>С сентября 2019 года в школе открылся  Центр образования цифрового и гуманитарного профилей «Точка роста», для которого поставлено новейшее учебное оборудование:</a>
<ul>
	<li>Мобильный компьютерный класс с интерактивным комплексом;</li>
	<li>Комплект VR;</li>
	<li>Набор квадрокоптеров;</li>
	<li>Комплект оборудования для 3-D печати.</li>
</ul>

<div class="parGrid">
<a class="par1  pars" id='par1'>Для занятий физкультурой есть:
	<ul>
		<li>2 спортивных зала;</li>
		<li>Тренажерный зал;</li>
		<li>Летняя спортивная площадка.</li>
	</ul> 
</a>

<a class="par2  pars" id='par2'>Для практических занятий на уроках труда и технологии имеются: 
	<ul>
		<li>Две мастерских;</li>
		<li>Теплица;</li>
		<li>Пришкольный сельскохозяйственный участок.</li>
	</ul> 
</a>

<a class="par3  pars" id='par3'>
	Для девочек в кабинете технологии установлены:
	<ul>
 		<li>Электрические швейные машины;</li>
 		<li>Гладильная доска;</li>
 		<li>Эл. утюг;</li>
 		<li>Стол раскроя.</li>
 	</ul>
</a>

<a class="par4  pars" id='par4'> 
	Для мальчиков
	<ul>
		<li>Верстаки столярный/слесарный;</li>
		<li>Сверлильный станок;</li>
		<li>Точильный станок;</li>
		<li>Токарный станок по дереву.</li>
	</ul>
</a>
<a class="par5  pars" id='par5'>
	В распоряжении обучающихся имеется библиотека с общим фондом  – 27643 экземпляра. 
	<br>
	Из них
	<ul>
		<li>Художественная литература – 17873 экземпляров;</li>
		<li>учебники и учебные пособия – 9514 экземпляров;</li>
		<li>256 экземпляров справочных материалов.</li>
	</ul>
<p>Фонд библиотеки соответствует ФГОС, учебники фонда входят в Федеральный перечень, утверждённый приказом Минобрнауки №15 от 25.05.2020 г.</p></a>
</div>

<br>
<a>
Обеспеченность учебниками на 2022-2023 учебный год составляет:
<br>
Начальное общее образование – <b>100%</b>
<br>
Основное общее образование – <b>100%</b>
<br>
Среднее общее образование – <b>100%</b>
</a>
<br>
<div class="parFlex">
	<a class="parF1  parsF">
		Для учебных и практических занятий на уроках биологии имеются все необходимые учебно-методические и практические пособия и оборудование: 
		<ul>
			<li>		комплект таблиц по биологии 6-9 кл;</li>
			<li>		 комплект портретов ученых-биологов;</li>
			<li> интегрированные интерактивные наглядные пособия "Биология";</li>
			<li> весы лабораторные электронные;
		    термометр лабораторный;</li>
			<li>комплект биологической микробиологии;</li>
			<li>цифровой микроскоп;</li>
			<li> набор моделей цветков различных семейств;</li>
			<li>разборная модель "Торс человека";</li>
			<li>набор микропрепаратов по анатомии, физиологии, ботанике, зоологии, общей биологии;</li>
			<li> набор моделей палеонтологических находок;</li>
			<li>набор моделей органов человека и животных;</li>
			<li> набор учебно-познавательной литературы.</li>
		</ul>	           	           
	</a>

	<a class="parF2  parsF">
		Для учебных и практических занятий на уроках физики имеются все необходимые учебно-методические и практические пособия и оборудование: 
		<ul>
			<li>приборы и оборудование для демонстраций и опытов;</li>
			<li>
				компьютерная измерительная система с датчиками;
			</li>
			<li>
				комплект таблиц по курсу физики 7-9 и 10-11 класс;
			</li>
			<li>
				набор «Механика» согласованный с компьютерным измерительным блоком;
			</li>
			<li>
				 набор «Вращательное движение» согласованный с компьютерным измерительным блоком;
			</li>
			<li>
				набор «Тепловые явления» согласованный с компьютерным измерительным блоком;
			</li>
			<li>
				 наборы по термодинамике, газовым законам и насыщенным парам, согласованные с компьютерным измерительным блоком;
			</li>
			<li>
				  набор «Вращательное движение» согласованный с компьютерным измерительным блоком;
			</li>
			<li>
				  комплекты «Электричество 1– 4»;
			</li>
			<li>
				  комплект «Геометрическая оптика»;
			</li>
			<li>
				  комплект «Волновая оптика».
			</li>
		</ul>
	</a>

	<a class="parF3  parsF">
		Для учебных и практических занятий на уроках химии имеются все необходимые учебно-методические и практические пособия и оборудование: 
		<ul>
			<li>
				приборы и оборудование для демонстраций опытов;
			</li>
			<li>
				лабораторная посуда;
			</li>
			<li>
				приборы и принадлежности для ученических  экспериментов;
			</li>
			<li>
				набор моделей атомов;
				набор моделей кристаллических решеток;
			</li>
			<li>
				коллекция «волокна»;
			</li>
			<li>
				коллекция «металлы»;
			</li>
			<li>
				коллекция «нефть и продукты ее переработки»;
			</li>
			<li>
				коллекция «топливо»;
			</li>
			<li>
				коллекция «чугун и сталь»;
			</li>
			<li>
				коллекция «пластмассы»;
			</li>
			<li>
				коллекция «шкала твердости»;
			</li>
			<li>
				коллекция «алюминий»;
			</li>
			<li>
				коллекция «каменный уголь и продукты его переработки»;
			</li>
			<li>
				коллекция «стекло и изделия из стекла»;
			</li>
			<li>
				коллекция «минералы и горные породы»;
			</li>
			<li>
				наборы химических реактивов, печатные и электронные учебные пособия.
			</li>
		</ul>	
	</a>

</div>
<br>
<a>Школа располагает столовой на 120 посадочных мест и современным технологическим электрооборудованием для приготовления пищи, все обучающиеся обеспечены горячими обедами(первоклассника - дополнительно - горячими завтраками). Имеются школьный медицинский пункт, отапливаемый туалет с горячим и холодным водоснабжением.</a>
<a>
В целях охраны здоровья обучающихся на каждом этаже школы установлены кулеры питьевой воды с одноразовыми стаканчиками. Для обеззараживания воздуха школа имеет 8 рециркуляторов.
</a>
<a>Подвоз обучающихся из других населенных пунктов, поездки на экскурсии и прочие мероприятия обеспечены школьным автотранспортом - тремя сертифицированными для перевозки детей автобусами марки ПАЗ и ГАЗ. Стоянка автобусов  - в капитальном отапливаемом гараже на территории школы.</a>
</div>

<div class="txtTitle">Вакантые места для приёма</div><div class="parentsTxt"><a>
МОБУ СОШ №1 с. Архангельское осуществляет прием обучающихся в: общеобразовательные классы(1-9 классы), профильные классы(10-11 классы) технологического и универсального профилей,  и детский сад "Улыбка" д. Приуралье. Вся образовательная деятельность осуществляется за счет бюджетных ассигнований местного бюджета.
</a><a>
Количество вакантных мест по состоянию на 03.04.2023 г.:
</a><a>
Образовательная программа начального общего образования:
</a><ul>
	<li>1 классы - 15 мест,</li>
	<li>2 классы - 14 мест,</li>
	<li>3 классы - 12 мест,</li>
	<li>4 классы - 8 мест.</li>
</ul>
<a>Образовательная программа основного общего образования:</a>
<ul>
	<li>5 классы - 15 мест,</li>
	<li>6 классы - 17 мест,</li>
	<li>7 классы - 2 места,</li>
	<li>8 классы -  12 мест,</li>
	<li>9 классы - 1 место.</li>
</ul>
<a>
Образовательная программа среднего общего образования:</a>
<ul>
	<li>10 классы -  1 место,</li>
	<li>11 классы - 5 мест.</li>
</ul>



 

<a>Детский сад "Улыбка" - 5 мест.</a>
</div>
	</div>	
<script src='/js/ourScript.js'></script>
</body>
</html>