<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>ШКОЛА №1</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body>
	<%- include('blocks/header.ejs') -%>
<div id="divBoxMain">
	<div id="mainSlider">
<div id="main">
	<div id='lastNews'>
		<div id="sliderNews">
			<div class="sportTheme  themesNews" id='sportTheme'>
				<img src='/imgs/sport.jpg' id='sportPhoto'  class='newsPhoto'>
				<div id="sportTxt"  class='newsTxt'>
					<div class='sportTitul  newsTitul'>XXV Спартакиада школьников РБ</div>	16 февраля, наши юноши участвовали в <i>районных соревнованиях по мини-футболу</i> в зачет XXV Спартакиады школьников Республики Башкортостан.<br>	Вернулись они с призовым местом:- ребята добавили в спортивную копилку школы - <i>1 место</i><br>МОБУ СОШ №1 - территория спорта!</div>
			</div>
			<div class="orkseTheme  themesNews" id='orkseTheme'>
				<img src='/imgs/orkseP.jpg' id='orksePhoto'  class='newsPhoto'>
				<div id="orkseTxt"  class='newsTxt'>
					<div class='orkseTitul  newsTitul'>Выбор модуля ОРКСЭ</div>17 февраля 2023 года в МОБУ СОШ №1 с.Архангельское состоялось собрание родителей 	обучающихся 3 классов для ознакомления с новым предметом ОРКСЭ «Основы религиозных культур и светской этики»  и модулями курса.
					 Напомним, что этот предмет стали изучать во всех субъектах Российской Федерации по поручению Президента Российской Федерации от 2 августа 2009 г. № Пр-2009 и Распоряжения Правительства Российской Федерации от 28 января 2012 г. №84-р с 2012-13.
				</div>
			</div>
			<div class="moveTheme  themesNews" id="moveTheme">
				<img src='/imgs/moveP.jpg' id='movePhoto'  class='newsPhoto'>
				<div id="moveTxt"  class='newsTxt'>
					<div class="moveTitul  newsTitul">Первая - в «Движении Первых»!</div>В МОБУ СОШ №1 с.Архангельское произошло знаменательное событие - открытие первичного отделения Общероссийского общественно-государственного движения детей и молодёжи "Движение Первых".

				</div>
			</div>
			<div class="teacherTheme  themesNews" id="teacherTheme">
				<img src='/imgs/teacher.jpg' id='teacherPhoto'  class='newsPhoto'>
				<div id="teacherTxt"  class='newsTxt'>
					<div class="teacherTitul  newsTitul">Заслуженный учитель Республики Башкортостан</div>В преддверии Международного женского дня, в колонном зале Министерства сельского хозяйства Глава Республики Башкортостан Радий Хабиров вручил государственную награду "Заслуженный учитель Республики Башкортостан" учителю истории и обществознания МОБУ СОШ #1 с. Архангельское Гузель Мидхатовне Иштугановой. От всей души поздравляем педагога и желаем успехов в дальнейшей педагогической деятельности.
				</div>
			</div>
		</div>
	</div>
	<div id="teachersBlock">
		<br>
		<div class='txtTitle'>Наши учителя:</div>
		<div id="teachersLi">
			<div id="teacher1" class='teachers'><b>Курунова Любовь Михайловна</b><br>Директор  МОБУ СОШ №1 с. Архангельское. Образование высшее, БГПИ  1999 год, специальность – учитель биологии, педагог-психолог. Учитель высшей категории, стаж работы 29 года, стаж работы по специальности 18 лет.  Курсы повышения квалификации - ГАУ ДПО Институт развития образования Республики Башкортостан, «Особенности преподавания школьного курса биологии в условиях реализации требований ФГОС», с 16 декабря 2019 года по 25 декабря 2019 года. Преподаваемый предмет – биология
			<br>
			<br><br>
			<form method='post' action="/">
			<button id="teachersLiFullButton" name='field5' value='nav6'>Открыть полный<br> список учителей</button></form>
			</div>
			<div id="teacher2" class='teachers'><b>Лапина Елена Сергеевна</b><br>Заместитель директора по учебно-воспитательной работе.  Образование высшее, БГУ 1991 год, специальность - филолог, преподаватель немецкого языка, переводчик. Учитель русского языка, литературы и родного языка высшей категории, стаж работы - 29 лет, стаж работы по специальности 29 лет. Отличник образования РБ, курсы повышения квалификации по теме "Проектирование специальных индивидуальных программ развития обучающихся с ОВЗ в условиях реализации ФГОС ОВЗ", "Конструирование современного урока русского языка и литературы в условиях реализации ФГОС ООО и СОО" -2018 год, курсы повышения квалификации ГАУ ДПО Институт развития образования Республики Башкортостан по программе "Современный образовательный менеджмент", "Управление качеством образования в образовательной организации" - 2018 год, "Организация образовательного процесса в соответствии с требованиями ФГОС среднего общего образования" -2020 год.  Преподаваемый предмет-русский язык, литература, родной язык, немецкий язык.
			</div>
			<div id="teacher3" class='teachers'><b>Бочкарева Алевтина Викторовна</b><br>Заместитель директора по научно-методической работе, руководитель Центра образования цифрового и гуманитарного профилей "Точка роста". Образование высшее, БГПИ 1987 год, специальность - филолог. Учитель русского языка, литературы и родного языка, стаж работы - 34 года, стаж работы по специальности 16 лет, курсы повышения квалификации ГАУ ДПО Институт развития образования Республики Башкортостан по программе "Управление образовательной организацией в условиях введения и реализации ФГОС"-2020 год. Преподаваемый предмет-русский язык, литература, родной русский язык, родная литература(русская).
			</div>
			<div id="teacher4" class='teachers'><b>Вязовцева Светлана Анатольевна</b><br>Образование высшее БГПИ 1996 год, специальность - учитель русского языка и литературы. Учитель высшей категории, стаж работы - 24 года, стаж работы по специальности -24 года, курсы повышения квалификации по теме "Конструирование современного урока русского языка и литературы в условиях реализации ФГОС ООО и СОО" - 2018 год, курсы повышения квалификации по теме "Профилактика аутоагрессивного поведения несовершеннолетних" -2019 год. Преподаваемый предмет-русский язык, литература, родной русский язык, родная литература(русская).
			</div>
		</div>
	</div>
	<div class="advantages">
		<div class="ad-s1  ads">
			<a href = 'https://vk.com/tochkarosta_official'>
				<img class = 'growOfPointLogo  adsImg' src='/imgs/pointOfGrow.jpg'>
			</a></div>
		<div class="ad-s2  ads">
			<a href = 'https://resh.edu.ru/'>
				<img class = 'reshLogo  adsImg' src='/imgs/resh.jpg'>
			</a></div>
		<div class="ad-s3  ads">
			<a href = 'https://будьвдвижении.рф/'>
				<img class = 'firstMoveLogo  adsImg' src='/imgs/firstMoveLogo.jpg'>
			</a>
		</div>
	</div>
	<div class="contacts">
		<p class = 'PContacts'>
			Oбратная связь:
		</p>
		<p class = 'PContacts'>Директор: 8(34774)21770</p>
		<p class = 'PContacts'>Заместители директора по УВР: 8(34774)21263</p>
	</div>
</div>
<!-- MAAAAAAAAAAAAAAAAAAAAAAAAAAIN -->


</div><!-- DIV MAIN BOX -->

	<script src="/js/script.js"></script>
	<script src='/js/ourScript.js'></script>
</body>
</html>