<header>
	<div class = 'titul'>
		<div class='left_titul'>
			<div class='divherb'>
				<img src="
				/imgs/globe.png" id='herb'>
			</div>
			<div id='divsign'>
				<h1 class='titul_sign'>МОБУ<br>СОШ 1</h1>
			</div>
		</div>
		<img src="/imgs/titul1.jpg" id='schoolphoto'>
	</div>
	<form method='post' action='/'>
		<button name='field0' type = 'submit'value='nav1' href='#'>Главная</button>
		<button name='field1' type = 'submit'value='nav2' href='aboutUs'>О школе</button>
		<button name='field2' type = 'submit'value='nav3'><a>История школы</a></button>
		<button name='field3' type = 'submit'value='nav4'>Родителям</button>
		<button name='field4' type = 'submit'value='nav5'>Ученикам</button>
		<button name='field5' type = 'submit'value='nav6'>Учителя</button>
		<button name='field6' type = 'submit'value='nav7'>Питание</button>
		<button name='field7' type = 'submit'value='nav8'>Контакты</button>
	</nav>
</header>